<h1>Pages#home</h1>

<%= form_with(model: @todo, data: { reflex: "submit->TodosReflex#create" }) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>


<% @todos.each do |todo| %>
  <div>
    <input <%= "checked" if todo.completed_at? %> class="toggle-all" type="checkbox" data-todo-id="<%= todo.id %>" data-reflex="change->TodosReflex#toggle">
    <span>
      <%= todo.name %>
    </span>
    <button data-id="<%= todo.id %>" data-reflex="click->TodosReflex#delete">X</button>
  </div>
<% end %>
